{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.email) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% if isSub %}
    {% if testNom %}{% else %} le nom n'est pas ok <br>{% endif %}
    {% if testPrenom %}{% else %} le prenom n'est pas ok <br>{% endif %}
    {% if testLogin %}{% else %} le login n'est pas ok <br>{% endif %}
    {% if password %}{% else %} le password n'est pas ok <br>{% endif %}
{% endif %}

{% endblock %}
